/nbproject/private/
/node_modules/
package-lock.json
project.xml
project.properties
.DS_Store
Thumbs.db
.buildpath
.project
.settings*
sftp-config.json
/deploy/
/vendor/
/tmp/

# Ignore all log files except for .htaccess
/logs/*
!/logs/.htaccess
