# Travis CI Configuration File

# Tell Travis CI we're using PHP
language: php

# Setup a global environemnt and overide as needed
env:
  global:
    - WP_TRAVISCI=phpunit

cache:
  directories:
  - vendor
  - "$HOME/.composer/cache"

branches:
  only:
  - master

# Next we define our matrix of additional build configurations to test against.
matrix:
  include:
  - env: WP_TRAVISCI="npm test"
  - php: "5.2"
    dist: precise
    env: WP_VERSION=latest
  - php: "5.3"
    dist: precise
    env: WP_VERSION=latest
  - php: "5.5"
    env: WP_VERSION=latest
  - php: "5.6"
    env: WP_VERSION=latest
  - php: "5.6"
    env: WP_VERSION=master
  - php: "5.6"
    env: WP_VERSION=previous
  - php: "7.0"
    env: WP_VERSION=latest
  - php: "7.1"
    env: WP_VERSION=latest
  - php: "7.2"
    env: WP_VERSION=latest

# Clones WordPress and configures our testing environment.
before_script:
    - phpenv config-rm xdebug.ini
    - source ~/.nvm/nvm.sh && nvm install 5
    - export PLUGIN_BASE_DIR=$(basename $(pwd))
    - export PLUGIN_SLUG=$(basename $(pwd) | tr '[:upper:]' '[:lower:]')
    - source ~/.nvm/nvm.sh
    - export PATH="$HOME/.composer/vendor/bin:$PATH"
    - |
        if [[ ${TRAVIS_PHP_VERSION:0:2} == "7." ]]; then
            composer global require "phpunit/phpunit=5.7.*"
        elif [[ ${TRAVIS_PHP_VERSION:0:3} != "5.2" ]]; then
            composer global require "phpunit/phpunit=4.8.*"
        fi
    - nvm install 6
    - nvm use 6
    - ./tests/prepare-wordpress.sh
    - mysql -e "set global wait_timeout = 3600;"

script:
    - ./tests/run-travis.sh

sudo: false
