
.wpjm-admin-notice {

	// Layout.
	display: flex;
	flex-direction: column;

	// Spacing.
	gap: 10px;
	padding: 18px 24px;

	&.wpjm-admin-notice--info {
		border-left-color: #2270B1;
	}

	&__top {
		// Layout.
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	&__message {
		flex: 1 1 auto;
		font-size: 14px;
	}

	&__actions {
		// Layout.
		display: flex;
		gap: 10px;
		align-self: center;

		.button {
			padding: 3px 12px;
		}
	}
}

.wpjm-addon-update-notice-info {
	// Layout.
	display: flex;
	flex-direction: row;
	width: 600px;
	padding: 0 0 0 54px;

	// Style.
	color: #3C434A;
	line-height: 20px;
	letter-spacing: -0.24px;
	font-size: 14px;

	&__name {
		// Layout.
		flex: 50%;

		// Style.
		font-weight: 700;
	}

	&__version {
		// Layout.
		flex: 50%;
		text-align: right;

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
