@font-face {
	font-family: job-manager;
	src: url(../font/job-manager.woff2?16367094) format('woff2');
	font-weight: normal;
	font-style: normal;
}

@mixin jm-icon() {
	font-family: job-manager !important;
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;
}

.jm-icon {

	@include jm-icon();
}
