
.jm-dashboard__overlay {
	width: var(--wp--style--global--wide-size, 1200px);
	height: 80vh;
	--jm-dialog-padding: var(--jm-ui-space-ml);

	.jm-ui-spinner {
		--size: 64px;
	}

	.jm-dialog-close {
		top: var(--jm-dialog-padding);
		right: var(--jm-dialog-padding);
		color: inherit;
	}
}

.jm-job-overlay {
	align-self: stretch;
	flex: 1;
	padding: var(--jm-ui-space-ml);
	display: flex;
	flex-direction: column;
	gap: var(--jm-ui-space-sm);
	animation: jm-fade-in 200ms ease-in;

	font-size: var(--jm-ui-font-size-m);
}

.jm-job-overlay-header {
	border-bottom: var(--jm-ui-border-size) solid var(--jm-ui-border-faint);
	display: flex;
	justify-content: space-between;
	gap: var(--jm-ui-space-m);
	padding-right: calc( var(--jm-ui-icon-size) + var(--jm-ui-space-s) );
	padding-bottom: var(--jm-ui-space-sm);
	flex: 0 0 min-content;

	.job_title {
		font-size: var(--jm-ui-heading-font-size);
		line-height: 1.2;
		font-weight: 600;
	}
}
.jm-job-overlay-content {
	flex: 1 1 auto;
	overflow: auto;
}

.jm-job-overlay-footer {
	border-top: var(--jm-ui-border-size) solid var(--jm-ui-border-faint);
	padding-top: var(--jm-dialog-padding);

	.jm-ui-actions-row {
		gap: var(--jm-ui-space-sm);
	}

}

.jm-job-overlay-details-box {
	background: var(--jm-ui-faint-color);
	padding: var(--jm-ui-space-m);
	--jm-dashboard-company-logo-size: var(--jm-ui-icon-size);
}

@media (max-width: 600px) {
	.jm-dashboard__overlay
	{
		height: 100%;
	}
}

@keyframes jm-job-overlay-fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.jm-job-stats {
	margin: var(--jm-ui-space-m) 0;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 300px), 1fr));
	grid-gap: var(--jm-ui-space-l);
	justify-content: space-between;
	align-items: stretch;

	* {
		box-sizing: border-box;
	}

	> .jm-ui-col {

		display: flex;
		flex-direction: column;
		gap: var(--jm-ui-space-m);
		//border-left: var(--jm-ui-border-size) solid var(--jm-ui-border-faint);
		//margin-left: -1px;
	}

	--jm-stat-color-page-view: var(--jm-ui-accent-color);
	--jm-stat-color-unique-view: color-mix(in srgb, #000, var(--jm-stat-color-page-view) 40%);

	.jm-stat-section {
		display: flex;
		flex-direction: column;

	}

	.jm-stat-section-header {
		text-transform: uppercase;
		font-weight: 200;
		letter-spacing: -0.2px;
		margin-bottom: var(--jm-ui-space-xs);
	}

	.jm-stat-row {
		padding: var(--jm-ui-space-xs);
		position: relative;
	}

	.jm-stat-background {
		position: absolute;
		top: 1px;
		bottom: 1px;
		left: 0;
		background: var(--jm-ui-accent-color);
		opacity: 0.1;
		z-index: -1;
	}

	.jm-stat-row:where(:not(:last-child)) {
		border-bottom: var(--jm-ui-border-size) solid var(--jm-ui-border-faint);
	}

	.jm-stat-row:has(.jm-stat-background) {
		border: unset;
	}

	.jm-stat-label {
		flex: 1;
	}

	.jm-stat-value {
		font-weight: 600;
	}

	.jm-ui-icon {

		&[data-icon^=color] {
			--jm-ui-icon-size: 14px;
			margin: 5px;
			border-radius: var(--jm-ui-radius);
			mask-image: unset;
		}

		&[data-icon=color-page-view] {
			background: var(--jm-stat-color-page-view);
		}

		&[data-icon=color-unique-view] {
			--jm-ui-icon-size: 14px;
			margin: 5px;
			border-radius: var(--jm-ui-radius);
			background: var(--jm-stat-color-unique-view);
		}

		&[data-icon=message] {
			mask-image: url('data:image/svg+xml,%3csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'24\' height=\'24\' fill=\'none\' viewBox=\'0 0 24 24\'%3e%3cpath fill=\'black\' fill-rule=\'evenodd\' d=\'M3 7c0-1.1.9-2 2-2h14a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V7Zm2-.5h14c.28 0 .5.22.5.5v.94L12 13.56 4.5 7.94V7c0-.28.22-.5.5-.5Zm-.5 3.31V17c0 .28.22.5.5.5h14a.5.5 0 0 0 .5-.5V9.81L12 15.44 4.5 9.8Z\' clip-rule=\'evenodd\'/%3e%3c/svg%3e');
		}
	}
}
