@import "icons";

/* Menu */
#adminmenu {

	#menu-posts-job_listing {

		.wp-menu-image::before {

			@include jm-icon();
			content: "\e830";
		}
	}

	#menu-posts-resume {

		.wp-menu-image::before {

			@include jm-icon();
			content: "\e806";
		}
	}

	a.wpjm-addon-upsell {
		border: solid 0 #5D6264;
		border-width: 1px 0;
		padding: 8px 12px 8px 12px !important;
		margin-top: -1px;
		position: relative;
		top: 1px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}


	/**
	 * Adjust upsells styles
	 */
	.wpjm-addon-upsell__badge {
		border-radius: 16px;
		color: inherit;
		font-size: 8px;
		margin: 0;
		padding: 4px 8px;
		line-height: 8px;
		min-width: 16px;
		border: 1px solid currentColor;
		font-weight: 600;
	}
}
