.jm-dialog[open] {
	border: unset;
	background: unset;
}

.jm-dialog-open {

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 1000;
	display: flex;

}

.jm-dialog {
	--jm-local-notice-padding: var(--jm-ui-space-l);
}

.jm-dialog .jm-notice {
	margin: unset;
	border: unset;
	width: 100%;
	min-width: unset;

	padding: var(--jm-local-notice-padding);

	.jm-notice__details {
		align-self: stretch;
	}
}

.jm-dialog::backdrop {
	background-color: rgb(0 0 0 / 0.1);
	backdrop-filter: blur(4px);
}

.jm-dialog-modal {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: var(--wp--style--global--content-size, 640px);
	max-width: calc(100% - var(--jm-ui-space-s));
	margin: auto;
	max-height: 80vh;
	overflow: hidden;
	border-radius: var(--jm-ui-radius);
	background-color: var(--jm-ui-background-color, #fff);
	color: var(--jm-ui-text-color, #1a1a1a);
	box-shadow: var(--jm-ui-shadow-modal);

}

.jm-dialog-backdrop {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

.jm-dialog-close {
	position: absolute;
	z-index: 1;
	padding: var(--jm-ui-space-xxxs);
	top: calc(var(--jm-local-notice-padding) - var(--jm-ui-space-xxxs));
	right: calc(var(--jm-local-notice-padding) - var(--jm-ui-space-xxxs));
	cursor: pointer;
	opacity: 0.7;

	.jm-ui-button__icon {
		background-color: currentColor;
		mask: var(--jm-ui-svg-close) no-repeat center center;
		width: var(--jm-ui-icon-size);
		height: var(--jm-ui-icon-size);
	}

}

@media (max-width: 600px) {
	.jm-dialog-open {
		align-items: flex-end;
	}

	.jm-dialog-modal {
		margin-bottom: var(--jm-ui-space-xs);

	}

	.jm-dialog {
		--jm-local-notice-padding: var(--jm-ui-space-m);
	}
}

.jm-dialog[open] .jm-dialog-open {
	animation: jm-dialog-open 0.2s cubic-bezier(.08, .6, .5, .98);
}

.jm-dialog[open]::backdrop {
	animation: jm-dialog-backdrop-fade-in 0.2s cubic-bezier(.08, .6, .5, .98);
}

.jm-dialog:not([open]) {
	animation: jm-dialog-close 0.2s cubic-bezier(.08, .6, .5, .98);
}

.jm-dialog:not([open]) .jm-dialog-open {
	animation: jm-dialog-open reverse 0.2s cubic-bezier(.08, .6, .5, .98);
}

@keyframes jm-dialog-open {
	0% {
		opacity: 0.1;
		transform: translateY(100px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}


@keyframes jm-dialog-close {
	0% {
		opacity: 1;
		display: block;
	}

	100% {
		opacity: 0.1;
		display: none;
	}
}


@keyframes jm-dialog-backdrop-fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
