
.icon-briefcase:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-ok:before { content: '\e802'; } /* '' */
.icon-star:before { content: '\e803'; } /* '' */
.icon-pencil:before { content: '\e804'; } /* '' */
.icon-eye:before { content: '\e805'; } /* '' */
.icon-doc-text-inv:before { content: '\e806'; } /* '' */
.icon-user:before { content: '\e807'; } /* '' */
.icon-key:before { content: '\e808'; } /* '' */
.icon-link:before { content: '\e809'; } /* '' */
.icon-twitter:before { content: '\e80a'; } /* '' */
.icon-linkedin-squared:before { content: '\e80b'; } /* '' */
.icon-facebook-squared:before { content: '\e80c'; } /* '' */
.icon-location:before { content: '\e80d'; } /* '' */
.icon-attention-circled:before { content: '\e80e'; } /* '' */
.icon-calendar:before { content: '\e80f'; } /* '' */
.icon-github-squared:before { content: '\e810'; } /* '' */
.icon-dribbble:before { content: '\e811'; } /* '' */
.icon-wordpress:before { content: '\e812'; } /* '' */
.icon-gplus-squared:before { content: '\e813'; } /* '' */
.icon-pinterest-squared:before { content: '\e814'; } /* '' */
.icon-flickr:before { content: '\e815'; } /* '' */
.icon-instagramm:before { content: '\e816'; } /* '' */
.icon-skype:before { content: '\e817'; } /* '' */
.icon-folder-open:before { content: '\e818'; } /* '' */
.icon-folder:before { content: '\e819'; } /* '' */
.icon-download:before { content: '\e81a'; } /* '' */
.icon-down-circled2:before { content: '\e81b'; } /* '' */
.icon-mail-alt:before { content: '\e81c'; } /* '' */
.icon-location-1:before { content: '\e81d'; } /* '' */
.icon-bookmark:before { content: '\e81e'; } /* '' */
.icon-bookmark-empty:before { content: '\e81f'; } /* '' */
.icon-star-empty:before { content: '\e820'; } /* '' */
.icon-heart:before { content: '\e821'; } /* '' */
.icon-heart-empty:before { content: '\e822'; } /* '' */
.icon-menu:before { content: '\e823'; } /* '' */
.icon-filter:before { content: '\e824'; } /* '' */
.icon-comment-empty:before { content: '\e825'; } /* '' */
.icon-comment:before { content: '\e826'; } /* '' */
.icon-attach:before { content: '\e827'; } /* '' */
.icon-info-circled:before { content: '\e828'; } /* '' */
.icon-flag:before { content: '\e829'; } /* '' */
.icon-eye-off:before { content: '\e82a'; } /* '' */
.icon-trash:before { content: '\e82b'; } /* '' */
.icon-clock:before { content: '\e82c'; } /* '' */
.icon-block:before { content: '\e82d'; } /* '' */
.icon-cancel-circled:before { content: '\e82e'; } /* '' */
.icon-ok-circled:before { content: '\e82f'; } /* '' */