.wp-block-wpjm-job-listing .job-listing__upload-button.button {
	margin-right: 5px;
}

.wp-block-wpjm-job-listing .job-listing__upload-button.button .dashicon {
	vertical-align: middle;
	margin-bottom: 3px;
}
